@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');

$montserrat: 'Montserrat', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-family: $montserrat;

  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(217deg, rgba(0, 117, 226, 0.8), rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, rgba(128, 0, 255, 0.8), rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, rgba(0, 195, 255, 0.8), rgba(0,0,255,0) 70.71%),
              linear-gradient(360deg, rgba(150, 230, 255, 0.8), rgba(0,0,255,0) 70.71%);
  
}