@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');

$montserrat: 'Montserrat', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  // height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-family: $montserrat;

  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(217deg, rgba(0, 117, 226, 0.8), rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, rgba(128, 0, 255, 0.8), rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, rgba(0, 195, 255, 0.8), rgba(0,0,255,0) 70.71%),
              linear-gradient(360deg, rgba(150, 230, 255, 0.8), rgba(0,0,255,0) 70.71%);
  
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Main {
    width: 550px;
    margin: 0 auto;
    transition: .4s ease-in-out all;

    .navBar {
      width: auto;
      margin: 1em auto;
    }
    .tableContainer {
      width: auto;
      
      thead > tr {
        font-size: 1.4em;
      }
      tbody > tr {
        font-size: .8em;
        td > img {
          width: 75px;
          height: 75px;
        }
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Main {
    width: 800px;

    .navBar > h1{
      font-size: 2.5em;
      font-weight: normal;
    }
    .tableContainer {
      thead > tr {
        font-size: 2em;
      }
      tbody > tr {
        font-size: 1em;
        td > img {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}